@model IEnumerable<ActionViewModel>

@{
    ViewData["Title"] = "Actions";
    int r = 0;
}

<h2>Partner Actions - @ViewData["PartnerName"]</h2>

<div>
    <a href="@Url.Action("Index", "Main", new { area = "Partner" })">Back to Partner Home</a>
</div>

<br />

<table class="table" data-id="partnersTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.CashValue)</th>
            <th>@Html.DisplayNameFor(model => model.PercentValue)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.IsFinished)</th>
            <th>@Html.DisplayNameFor(model => model.IsUsed)</th>
            <th>@Html.DisplayNameFor(model => model.ActionUsedAmount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="category-row @(r++ % 2 == 1 ? "odd" : "even")" data-category-id="@(item.Id)">
            <td>
                <a asp-action="PartnerActionDetails" asp-route-partnerId="@item.Id" asp-route-actionId="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.CashValue)</td>
            <td>@Html.DisplayFor(modelItem => item.PercentValue)</td>
            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
            <td>@Html.DisplayFor(modelItem => item.IsFinished)</td>
            <td>@Html.DisplayFor(modelItem => item.IsUsed)</td>
            <td>$@Html.DisplayFor(modelItem => item.ActionUsedAmount)</td>
        </tr>
        }
    </tbody>
</table>

<script src="~/js/Partner/PartnerActions.js" type="text/javascript"></script>