@model ActionViewModel

@{
    ViewData["Title"] = "Action - " + Model.Name;
    int r = 0;
}

<h2>Action - @(Model.Name)</h2>

<div>
    <a href="@Url.Action("PartnerActions", "Main", new { area = "Partner", partnerId = ViewData["PartnerId"] })">Back to Discount Action List</a>
</div>

<br />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CashValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PercentValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PercentValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFinished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
@if (Model.IsCanceled == true)
{
        <dt>
            @Html.DisplayNameFor(model => model.CancelDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CancelDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CancelReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CancelReason)
        </dd>
}
    </dl>
</div>

<script src="~/js/User/ViewByAction.js" type="text/javascript"></script>